<h1 align="center">All Adopt Don't Shop Shelters</h1>
<ol>
<% @shelters.each do |shelter| %>
  <section id="shelter-<%= shelter.id %>">
    <h2><%= shelter.name %></h2>
    <p>Address:<%= shelter.address %></p>
    <p>City:<%= shelter.city %></p>
    <p>State:<%= shelter.state %></p>
    <p>Zipcode:<%= shelter.zip %></p>
  </section>
<% end %>
</ol>
<%= link_to "New Shelter", "/shelters/new" %>
