<h2><%= @pet.name %></h2>

<img src="<%= @pet.image%>" width= "200", height= auto></img><br>
<h4>Description: <%= @pet.description %></h4><br>
<h4>Age: <%= @pet.age %></h4><br>
<h4>Sex: <%= @pet.sex %></h4><br>
<h4>Adoption Status: <%= @pet.status %></h4><br>
